@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(to bottom, #a968ea, #6663e8);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 4rem 4rem 4rem 0;
  border-radius: 1.5rem;
  background-color: #ffffff;
  height: 50rem;
  overflow: hidden;
}

.card-img {
  margin-left: -8rem;
}

.heading {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.faq-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.faq-item {
  list-style: none;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 2rem;
  width: 35rem;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  color: #46474b;
  cursor: pointer;
}

.question-active {
  font-weight: 700;
  color: #161523;
}

.answer {
  margin: 1rem 0 0 0;
  font-size: 1.2rem;
  color: #7a797e;
}

.icon-rotate {
  transform: rotate(180deg);
}

.hidden {
  display: none;
}

@media (max-width: 55rem) {
  main {
    padding: 10rem;
  }

  .card {
    flex-direction: column;
    padding: 0 2rem 0rem 2rem;
    height: 52rem;
    overflow: visible;
  }

  .card-img {
    display: flex;
    justify-content: center;
    margin-top: -7rem;
    margin-left: 0%;
  }

  .card-img picture img {
    width: 15rem;
  }

  .heading {
    text-align: center;
  }

  .faq-item {
    width: 30rem;
  }
}

@media (max-width: 22rem) {
  .card {
    height: auto;
  }

  .faq-item {
    width: auto;
  }
}
